* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container article {
    cursor: pointer;
}

section {
    max-width: 1200px;
    margin: 5rem auto;
    padding: 1rem;
}

body {
    background-color: #F0E6DD;
    margin: 0;
}

/*------------------header------------------*/

/*menu fane og dens design på mobiludgaven global*/

header {
    background-color: #D9D0C8;
    height: 80px;
}


.hidden {
    opacity: 0;
    z-index: -10;

}

#menuknap_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2vh 2vh;
}


#menuknap {
    display: inline-block;
    cursor: pointer;
}


#oversigt {
    list-style-type: none;
    display: block;
    padding: 20px 0px;
    margin: 0px;
    position: absolute;
    background-color: #D9D0C8;
    width: 100%;
    z-index: 1;
}


.slide {
    animation-name: slide_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: alternate;
}

@keyframes slide_kf {
    0% {
        transform: translateX(-60vw);
    }

    100% {
        transform: translateX(0vw);
    }
}



li a {
    border: none;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #D9D0C8;
    color: white;
    font-family: 'Limelight', sans-serif;
    font-size: 1.5rem;
    border: none;
    margin: 20px;
}



li a:hover {
    color: #8d0019;
}


#logo_menu {
    display: inline-block;
    position: absolute;
    width: 20%;
    left: 40%;
    top: -13%;

}


/* ------- burgermenu icon hvordan den går over i x -----------*/
.bar1,
.bar2,
.bar3 {
    width: 34px;
    height: 5px;
    background-color: #f5faff;
    margin: 6px 20px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


@media (min-width:650px) {
    /*------------brugermanu og nav global------------*/

    #global {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        padding: 0px 0px;
        width: 100vw;
        z-index: 1
    }

    #menuknap_wrapper {
        padding: 0vh 0vh;
    }

    #menuknap {
        display: none;
    }

    #oversigt.hidden {
        opacity: 1;
        z-index: 10;
    }

    #oversigt li {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0px;
        margin: 0% 3%;
    }

    li a {
        margin: 10px 20px;
    }

    #oversigt {
        position: relative;
        text-align: center;
    }


    #logo_menu {
        width: 8%;
        left: 3%;
        top: 30%;
    }
}

/*------------------footer------------------*/

footer {
    background-color: #E5B829;
    color: white;
    padding: 1.5rem;
    margin-top: 4rem;
}

footer h4 {
    font-family: 'Assistant';
    font-weight: 700;
    margin-top: 0;
}

footer p {
    font-family: 'Assistant';
    margin: 0;
}

footer i {
    cursor: pointer;
}

footer .left {
    margin-bottom: 2.5rem;

}

footer .right {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.footer_bottom {
    text-align: center;
}

footer .fab {
    margin: 1rem;
    align-self: center;
}

footer a {
    text-decoration: none;
    color: white;
    position: relative;

}

footer a.kontaktlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #8d0019;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

footer a.kontaktlink:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

footer a.kontaktlink:hover {
    color: #8d0019;
}


footer a.kontaktlink:active {
    color: #8d0019;
}

footer a.kontaktlink:hover {
    color: #8d0019;
}

@media (min-width:650px) {
    .footer_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem;
    }

    footer .left,
    footer .right {
        margin-bottom: 0;
    }

    footer .right {
        display: flex;
    }
}


/*------------------landing------------------*/

#landing {
    width: 100%;
    height: 100vh;
}

#landing_content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing_text {
    text-align: center;
}

#landing_text_bottom {
    line-height: 1rem;
}

.landing_letter {
    display: inline-block;
    font-family: 'Limelight', sans-serif;
    font-size: 10rem;
}

#landing_v {
    color: #F3ACA9;
}

#landing_n {
    color: #E72118;
}

#landing_d {
    color: #8BAAEC;
}

#landing_u {
    color: #E5B806;
}

.fa-chevron-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #DB0916;
}

html {
    scroll-behavior: smooth;
}

#landing h2 {
    font-family: 'Assistant', sans-serif;
    color: #E5B829;
    font-weight: 100;
    margin: 1rem 0 0 0;
}


.fa-chevron-down {
    text-decoration: none;
    margin-top: 12px;
}

#gallery_button:hover,
#form_button:hover {
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes screenshot_scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

@media (min-width:650px) {
    #landing h2 {
        margin: -2rem 0 0 0;
        font-size: 2rem;
    }
}

@media (min-width: 950px) {
    #landing_text_bottom {
        line-height: 2rem;
    }

    #landing h2 {
        margin: 0 0 0 0;
        font-size: 2rem;
    }

    #section_welcome {}
}

@media (min-width: 1200px) {
    #landing h2 {
        margin: -2rem 0 0 0;
    }
}

@media (min-width:650px) {

    #landing_text_top,
    #landing_text_bottom {
        display: inline-block;
        line-height: normal;
    }

    #landing_text {
        place-self: center center;
    }
}

@media (min-width:950px) {

    #landing_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*------------------welcome------------------*/

#section_welcome {
    height: 43vw;
    margin: 0;
}

/*------------------examples------------------*/

.container {
    overflow: auto;
    white-space: nowrap;
}

article {
    display: inline-flex;
    flex-direction: column;
    max-width: 17rem;
    margin: 0.5rem;
}

#section_examples h1,
#section_other h1 {
    font-family: 'Limelight', sans-serif;
}

article h2 {
    font-family: 'Assistant', sans-serif;
    color: #E5B829;
    margin: 0;
}

article h3 {
    font-family: 'Assistant', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #707070;
    margin: 0.5rem 0;
}

article p {
    font-family: 'Assistant', sans-serif;
    margin-top: 0.5rem;
    color: #707070;
    white-space: normal;
}

article img {
    margin: 0;
    object-fit: cover;
    height: 25rem;
}

article button {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: #FCBF2F;
    color: white;
    padding: 1rem;
    text-align: center;
    border: 2px solid #FCBF2F;
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

article .top {
    margin-bottom: 0;
}

article .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1.3rem;
    margin-top: 0;
    height: 17rem;
}

#gallery_button {
    display: grid;
    margin: 3rem auto;
    max-width: 25rem;
    cursor: pointer;
    text-decoration: none;
}

#gallery_button p {
    font-family: 'Limelight', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#gallery_button p,
#gallery_button img {
    grid-area: 1/1;
    place-self: center center;
}

@media (min-width: 650px) {

    #section_examples h1,
    #section_other h1 {
        font-size: 2.5rem;
    }

    .container {
        overflow: auto;
        white-space: normal;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    article {
        display: inline-flex;
        flex-direction: column;
        max-width: none;
        margin: 0.5rem;
    }

    article:nth-last-child(1) {
        grid-column: span 2;
    }
}

@media (min-width: 950px) {
    .container {
        overflow: auto;
        white-space: normal;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    article {
        display: inline-flex;
        flex-direction: column;
        max-width: none;
        margin: 0.5rem;
    }

    #section_other article:nth-last-child(1),
    #section_examples article:nth-last-child(1) {
        display: none;
    }
}

/*------------------artwork------------------*/

#section_artwork {
    width: 80%;
    margin-bottom: 0;
    margin-top: 8rem;
}

#section_other {
    width: 80%;
}

.read_more:hover {
    background: #F3ACA9 !important;
    border-color: #F3ACA9 !important;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


@keyframes screenshot_scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}

.tilbage_knap {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: #FCBF2F;
    color: white;
    padding: 1rem;
    text-align: center;
    border: 2px solid #FCBF2F;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.tilbage_knap:hover {
    background: #F3ACA9 !important;
    border-color: #F3ACA9 !important;
    animation: screenshot_scale 0.2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#section_artwork div:nth-child(3) {
    margin-top: 3rem;
}

#section_artwork .right {
    background-color: white;
    padding: 1.3rem;
    margin-top: 0;
}

#section_artwork h2 {
    font-family: 'Assistant', sans-serif;
    color: #E5B829;
    margin: 0;
}

#section_artwork h3 {
    font-family: 'Assistant', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #707070;
    margin: 0.5rem 0;
}

#section_artwork h4 {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    color: black;
}

#section_artwork p {
    font-family: 'Assistant', sans-serif;
    margin-top: 3rem;
    color: #707070;
    white-space: normal;
}


@media (min-width:650px) {

    #section_artwork {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    #section_artwork .right {
        height: 100%;
        padding: 2rem;
    }

    #section_artwork h2 {
        font-family: 'Assistant', sans-serif;
        color: #E5B829;
        margin: 0;
        font-size: 3rem;
    }

    #section_artwork h3 {
        font-family: 'Assistant', sans-serif;
        font-style: italic;
        font-weight: 300;
        color: #707070;
        margin: 0.5rem 0;
        font-size: 1.7rem;
    }

    #section_artwork h4 {
        font-family: 'Assistant', sans-serif;
        font-weight: 600;
        color: black;
        font-size: 1.5rem;
    }

    #section_artwork p {
        font-family: 'Assistant', sans-serif;
        margin-top: 3rem;
        color: #707070;
        white-space: normal;
        font-size: 1.3rem;
    }

    #section_artwork img {
        height: 100%;
        object-fit: cover;
    }
}

/*------------------gallery------------------*/

#gallery_splash {
    width: 100%;
    height: 40vh;
    background-image: url(img/splash_gallery.svg);
    background-size: cover;
    background-position: 50%;
}

#section_gallery h1 {
    font-family: 'Limelight', sans-serif;
}

#section_gallery .container {
    overflow: auto;
    white-space: normal;
}

#section_gallery article {
    max-width: none;
}

#section_gallery article img {
    height: auto;
}

#section_gallery nav {
    text-align: center;
}

#section_gallery nav button {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background: #FCBF2F;
    color: white;
    padding: 1rem;
    text-align: center;
    border: 2px solid #FCBF2F;
    cursor: pointer;
    margin: 1rem;
}

#section_gallery nav button:hover {
    background: #F3ACA9 !important;
    border-color: #F3ACA9 !important;

}

.selected {
    background: #F3ACA9 !important;
    border-color: #F3ACA9 !important;
}

@media (min-width:650px) {
    #section_gallery .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    #section_gallery article img {
        height: 25rem;
    }

    #section_gallery h1 {
        font-size: 2.5rem;
    }

    article:nth-last-child(1) {
        grid-column: span 1;
    }
}

@media (min-width: 950px) {
    #section_gallery .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*------------------contact------------------*/

.none {
    display: none;
}

#wrapper_form {
    margin: 0 auto;
    background-color: #F3ACA9;
}

#section_form h1 {
    font-family: 'Limelight', sans-serif;
    color: white;
}

#section_form input,
#section_form textarea {
    font-family: 'Assistant', sans-serif;
    font-size: 1.3rem;
    background-color: #FFDDDD;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid white;
    color: #3E3D3D;
}

#section_form textarea {
    height: 10rem;
    resize: none;
}

#form_button {
    display: grid;
    margin: 3rem auto;
    max-width: 15rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

#form_button p {
    font-family: 'Limelight', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

#form_button p,
#form_button img {
    grid-area: 1/1;
    place-self: center center;
}

#section_info h1 {
    font-family: 'Limelight', sans-serif;
}

#info_cols {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
}

#info_cols .col_left {
    font-weight: 600;
}

#info_cols p {
    font-family: 'Assistant', sans-serif;
    color: #707070;
    font-size: 1.3rem;
}

/*    menuen */
#oversigt {
    padding: 65px 0px;
}

.current {
    color: #8d0019;
}


#logo_menu {
    display: inline-block;
    position: absolute;
    width: 23%;
    left: 40%;
    top: 4%;
    z-index: 20;
}

@media (min-width:650px) {
    #oversigt {
        padding: 20px 0px;
    }


    #logo_menu {
        width: 8%;
        left: 3%;
        top: 30%;
    }
}



/*    contact*/



#section_info a {
    text-decoration: none;
    color: #707070;
    position: relative;

}

#section_info a.kontaktlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #8d0019;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#section_info a.kontaktlink:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#section_info a.kontaktlink:hover {
    color: #8d0019;
}


#section_info a.kontaktlink:active {
    color: #8d0019;
}

#section_info a.kontaktlink:hover {
    color: #8d0019;
}




#section_mouth h1 {
    font-family: 'Limelight', sans-serif;
    margin-top: 0;

}

@media (min-width: 650px) {

    #section_form h1,
    #section_info h1,
    #section_mouth h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 950px) {
    #section_mouth img:nth-child(2) {
        display: none;
    }

    #section_mouth img:nth-child(3) {
        display: block;
    }
}

/*------------------about------------------*/

#section_about h1,
#section_artists h1 {
    font-family: 'Limelight', sans-serif;
}

#section_about p,
#section_artists p {
    font-family: 'Assistant', sans-serif;
    margin: 1rem 0;
}

.name_small p,
.name_large p {
    font-weight: 600;
}

#title_large {
    display: none;
}

#about_grid div:nth-child(1) {
    margin-bottom: 3rem;
}

#section_artists {
    max-width: none;
    padding: 0;
}

.name_large {
    display: none;
}

.button_artist {
    cursor: pointer;
}

.grid_text div:last-child {
    text-align: center;
    margin: 3rem auto;
}

.grid_text a {
    font-family: 'Assistant';
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: #FCBF2F;
    padding: 0.5rem 3rem;
}

.grid_right,
.grid_left {
    grid-gap: 1rem;
    grid-auto-flow: column;
}

.grid_right .grid_text {
    grid-column: 1;
}

.grid_right .grid_img {
    grid-column: 2;
}

#wrapper_blue {
    margin: 0 auto;
    background-color: #D6E4FA;
}

#wrapper_beige {
    margin: 0 auto;
    background-color: #D8D1C8;
}

#wrapper_red {
    margin: 0 auto;
    background-color: #C17469;
    color: white;
}

#wrapper_pink {
    margin: 0 auto;
    background-color: #F2B3B0;
}

@media (min-width:650px) {
    #about_grid {
        display: grid;
        grid-template-columns: 9fr 11fr;
        grid-gap: 2rem;
    }

    #section_about h1,
    #section_artists h1 {
        font-size: 2.5rem;
    }

    #section_about p,
    #section_artists p {
        font-size: 1.3rem;
    }

    .name_small {
        display: none;
    }

    .name_large {
        display: block;
    }

    .grid_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_text div:last-child {
        text-align: left;
    }
}

@media (min-width: 950px) {
    #about_grid {
        grid-template-columns: 1fr 2fr;
    }

    #title_small {
        display: none;
    }

    #title_large {
        display: block;
    }
}
