/*------------------about------------------*/

#section_about p,
#section_artists p {
    font-family: 'Assistant', sans-serif;
    margin: 1rem 0;
}

.name_small p,
.name_large p {
    font-weight: 600;
}

#title_large {
    display: none;
}

#about_grid div:nth-child(1) {
    margin-bottom: 3rem;
}

#section_artists {
    max-width: none;
    padding: 0;
}

.name_large {
    display: none;
}

.button_artist {
    cursor: pointer;
}

.grid_text div:last-child {
    text-align: center;
    margin: 3rem auto;
}

.grid_text a {
    font-family: 'Assistant';
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: #FCBF2F;
    padding: 0.5rem 3rem;
}

.grid_right,
.grid_left {
    grid-gap: 1rem;
    grid-auto-flow: column;
}

.grid_right .grid_text {
    grid-column: 1;
}

.grid_right .grid_img {
    grid-column: 2;
}

#wrapper_blue {
    margin: 0 auto;
    background-color: #D6E4FA;
}

#wrapper_beige {
    margin: 0 auto;
    background-color: #D8D1C8;
}

#wrapper_red {
    margin: 0 auto;
    background-color: #C17469;
    color: white;
}

#wrapper_pink {
    margin: 0 auto;
    background-color: #F2B3B0;
}

@media (min-width:650px) {
    #about_grid {
        display: grid;
        grid-template-columns: 9fr 11fr;
        grid-gap: 2rem;
    }

    #section_about p,
    #section_artists p {
        font-size: 1.3rem;
    }

    .name_small {
        display: none;
    }

    .name_large {
        display: block;
    }

    .grid_right {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_left {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_text div:last-child {
        text-align: left;
    }
}

@media (min-width: 950px) {
    #about_grid {
        grid-template-columns: 1fr 2fr;
    }

    #title_small {
        display: none;
    }

    #title_large {
        display: block;
    }
}
